name: Debug Schedule

on:
  push:
    branches:
      - main
  schedule:
    # Run every 5 minutes
    - cron: '*/5 * * * *'
  workflow_dispatch:

jobs:
  test_schedule:
    runs-on: ubuntu-latest
    steps:
      - name: Hello World
        run: echo "The scheduler is working! Current time: $(date)"
